<%- include('./parciales/cabecera', {"direccion": direccion}) %>
<form class="d-flex" method="post"  >
    <input class="form-control me-2" type="input" placeholder="ID Del Profesor" name="id_profesor" required>
    <input class="form-control me-2" type="input" placeholder="ID De la Materia" name="id_materia" required>
    <input class="form-control me-2" type="input" placeholder="ID De la Seccion" name="id_seccion" required>
    <input class="form-control me-2" type="input" placeholder="ID De la Actividad" name="id_actividades" required>    
    <input class="form-control me-2" type="input" placeholder="ID Del Evento" name="id_eventos" required>    

    <button class="btn btn-success" type="submit">Agregar</button>
  </form>

</div>
</div>
</nav>
<div class="container-lg ">
  <div class="row d-flex justify-content-center">
    <a href="/tablas/profesores-materias" class="btn btn-sm btn-primary m-2 w-25 h-50 d-flex justify-content-center align-items-center">Tabla Profesores-Materias</a>
    <a href="/tablas/materias-actividades" class="btn btn-sm btn-primary m-2 w-25 h-50 d-flex justify-content-center align-items-center">Tabla Actividades-Materias</a>
    <a href="/tablas/profesores-materias-secciones" class="btn btn-sm btn-primary m-2 w-25 h-50 d-flex justify-content-center align-items-center">Tabla Profesores-Secciones-Materias</a>


  </div>
  <div class="row d-flex justify-content-center">
    <a href="/tablas/secciones-eventos" class="btn btn-sm btn-primary m-2 w-25 h-50 d-flex justify-content-center align-items-center">Tabla Secciones Eventos</a>
  </div>
    <div class="row d-flex justify-content-center ">
      <div class="col">
        <table class="table table-light table-striped table-hover table-bordered text-center">
          <thead class="table-secondary" >
            <tr>
              <th scope="col">#</th>
              <th scope="col">Profesor</th>
              <th scope="col">Materia</th>
              <th scope="col">Seccion</th>
              <th scope="col">Actividad</th>
              <th scope="col">Fecha de la Actividad</th>
              <th scope="col">Modificar Elemento</th>
           
            </tr>
          </thead>
          <tbody>
              <% resultados.forEach(actividades_fecha => { %>
                  <tr>
                      <th scope="row"><%= actividades_fecha.id %></th>
                      <td><%=  actividades_fecha.profesor%></td>
                      <td><%=  actividades_fecha.materia%></td>
                      <td><%=  actividades_fecha.seccion%></td>
                      <td><%=  actividades_fecha.nombreActividad%></td>
                      <td><%=  actividades_fecha.fechaActividad%></td>
                      <td class="d-flex justify-content-evenly "> <button value="<%= actividades_fecha.id %>"  class="btn btn-danger botonEliminar btn-sm w-25">Eliminar Elemento</button>
                        <button value="<%= actividades_fecha.id %>"  class="btn btn-primary botonEdit btn-sm w-25 h-50"  >Cambiar Elemento</button></td>
                      
                    </tr>
             <% }) %>
            
          </tbody>
        </table>
      </div>
    </div>
    <input type="hidden"  id="test" value="<%= direccion %>">

    <script src="/js/bootstrap.js"></script>
    <script>
      const botonEdit = document.getElementsByClassName("botonEdit")
      const direccion = document.getElementById("test")
      const direccionActual = direccion.value
      const botonEliminar = document.getElementsByClassName("botonEliminar")
      for(let i=0;i<botonEliminar.length;i++){
        botonEliminar[i].addEventListener("click", function(){
          let id = botonEliminar[i].value
          let confirmacion = confirm("Realmente desea eliminar este elemento?");
          if(confirmacion){
            console.log(id + direccionActual)
          fetch(direccionActual+"/"+id,{method: 'DELETE'})
          .then(response =>{
            if(!response.ok){
              throw new Error(`HTTP error! status: ${response.status}`);
            }else{
              location.reload()
          } 
             })
          }
          
            
           })
         }
      for(let j = 0;j<botonEdit.length;j++){
        botonEdit[j].addEventListener('click',function(){
        let id = botonEdit[j].value
        let link = document.createElement("a")
        link.setAttribute("href",`editarRelaciones/${id}`)
        link.click()
        })
      }
          </script>
  </body>
  </html>                                                          