<%- include('./parciales/cabecera', {"direccion": direccion}) %>
</div>
</div>
</nav>
<div class="container-lg ">
    <div class="row d-flex justify-content-center ">
      <div class="col">
        <table class="table table-light table-striped table-hover table-bordered text-center">
          <thead class="table-secondary" >
            <tr>
              <th scope="col">Seccion</th>
              <th scope="col">Nombre Del Evento</th>
              <th scope="col">Tipo De Evento</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
              <% resultados.forEach(seccion_evento => { %>
                  <tr>
                      <td><%=  seccion_evento.seccion%></td>
                      <td><%=  seccion_evento.nombreEvento%></td>
                      <td><%=  seccion_evento.tipoDeEvento%></td>
                      <td><%=  seccion_evento.fecha%></td>


                    </tr>
             <% }) %>
            
          </tbody>
        </table>
      </div>
    </div>
</div>